*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family:"Segoe UI", sans-serif;
}
.header{
  width:100%;
}
.container{
  max-width:1240px;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 10px;
}
.logo-section{
  display:flex;
  align-items:center;
  gap:10px;
}
.logo{
  width:45px;
}
.logo-section h2{
 color:#0f2744;
  font-size:26px;
font-weight:700;
}
.nav{
  display:flex;
  align-items:center;
  gap:35px;
}
.nav a{
  text-decoration:none;
  color:#0f2744;
  font-size:16px;
  transition:0.3s;
}
.nav a:hover{
  color:#06A3DA;
}
.btn{
  display:inline-block;
  background:linear-gradient(135deg,#06A3DA,#0f2744);
  color:#fff !important;
  padding:10px 24px;
  font-size:16px;
  font-weight:600;
  text-decoration:none;
  border-radius:15px;
  transition:all 0.3s ease;
}
.btn:hover{
  transform:translateY(-3px) scale(1.03);
  background:linear-gradient(135deg,#0f2744,#06A3DA);
}