.image{
  padding:60px 90px;
}
.images{
  display:flex;
  align-items:center;
  justify-content:space-between;
  max-width:1300px;
  margin:auto;
}
.images img{
  height:70px;         
  width:120px;         
  object-fit:contain;  
    transition:0.3s ease;
}
.images img:hover{
  transform:scale(1.05);
}